# Sommaire :
- <a href="#C1">Import des librairies</a>
- <a href="#C2">Import des données</a>
- <a href="#C3">Lecture des données & suppression granularités inutiles</a>
- <a href="#C4">Correspondance WaterServices et Mortality</a>
- <a href="#C5">Correspondance df et PoliticalStability</a>
- <a href="#C6">Correspondance df & Population</a>
- <a href="#C7">Correspondance df & RegionCountry</a>
- <a href="#C8">Fusion des datasets après nettoyage</a>
    - <a href="#C9"> Fusion WaterServices & Mortality </a>
    - <a href="#C10"> Fusion df & Political Stability </a>
    - <a href="#C11"> Fusion df1 & Population </a>
    - <a href="#C12"> Fusion df2 & Population </a>
- <a href="#C14.2">Ajout de la colonne Urban population rate</a>
- <a href="#C14.5"> Ajout des densités de Population </a>
    - <a href="#C14.51"> Ajout des densités de Population par Pays</a>
    - <a href="#C14.52"> Ajout des densités de Population par Région</a>
    - <a href="#C14.53"> Ajout de la densité de Population niveau Monde</a>
- <a href="#C15"> Export du .csv </a>

# <a name="C1"> Import des librairies </a>

In [318]:
import pandas as pd
pd.options.display.max_columns = None # pour afficher toutes les colonnes
pd.options.display.max_rows = None # pour afficher toutes les lignes

import numpy as np

from scipy import stats

from datetime import datetime

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.ticker as plticker

import seaborn as sns

import statsmodels.api as sm
import pylab

# <a name="C2"> Import des données </a>

Données d'OpenClassrooms et de la Banque mondiale pour les surfaces des pays

In [319]:
Population = pd.read_csv('Population.csv')
BasicAndSafelyManagedDrinkingWaterServices = pd.read_csv('BasicAndSafelyManagedDrinkingWaterServices.csv')
PoliticalStability = pd.read_csv('PoliticalStability.csv')
MortalityRateAttributedToWater = pd.read_csv('MortalityRateAttributedToWater.csv')
RegionCountry = pd.read_csv('RegionCountry.csv')

# <a name="C3"> Lecture des données & suppression granularités inutiles </a>

## BasicAndSafelyManagedDrinkingWaterServices

In [320]:
BasicAndSafelyManagedDrinkingWaterServices.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
0,2000,Afghanistan,Rural,21.61913,NaN
1,2000,Afghanistan,Total,27.77190,NaN
2,2000,Afghanistan,Urban,49.48745,NaN
3,2000,Albania,Rural,81.78472,NaN
4,2000,Albania,Total,87.86662,49.29324

In [321]:
len(BasicAndSafelyManagedDrinkingWaterServices)

10476

In [322]:
BasicAndSafelyManagedDrinkingWaterServices['Granularity'].value_counts()

Urban    3492
Rural    3492
Total    3492
Name: Granularity, dtype: int64

## MortalityRateAttributedToWater

In [323]:
MortalityRateAttributedToWater.head()

,Year,Country,Granularity,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
0,2016,Afghanistan,Female,15.31193,NaN
1,2016,Afghanistan,Male,12.61297,NaN
2,2016,Afghanistan,Total,13.92067,4824.353
3,2016,Albania,Female,0.12552,NaN
4,2016,Albania,Male,0.20650,NaN

In [324]:
len(MortalityRateAttributedToWater)

549

In [325]:
MortalityRateAttributedToWater['Granularity'].value_counts()

Total     183
Male      183
Female    183
Name: Granularity, dtype: int64

Suppression des granularités Male/Female :

In [326]:
MortalityRateAttributedToWater.drop\
(MortalityRateAttributedToWater[MortalityRateAttributedToWater['Granularity'] == 'Male'].index,\
 inplace=True)
MortalityRateAttributedToWater.drop\
(MortalityRateAttributedToWater[MortalityRateAttributedToWater['Granularity'] == 'Female'].index,\
 inplace=True)

MortalityRateAttributedToWater['Granularity'].value_counts() # vérification

Total    183
Name: Granularity, dtype: int64

## PoliticalStability

In [327]:
PoliticalStability.head()

       Country  Year  Political_Stability Granularity
0  Afghanistan  2000                -2.44       Total
1  Afghanistan  2002                -2.04       Total
2  Afghanistan  2003                -2.20       Total
3  Afghanistan  2004                -2.30       Total
4  Afghanistan  2005                -2.07       Total

In [328]:
len(PoliticalStability)

3526

In [329]:
PoliticalStability['Granularity'].value_counts()

Total    3526
Name: Granularity, dtype: int64

## Population

In [330]:
Population.head()

       Country Granularity  Year  Population
0  Afghanistan       Total  2000   20779.953
1  Afghanistan        Male  2000   10689.508
2  Afghanistan      Female  2000   10090.449
3  Afghanistan       Rural  2000   15657.474
4  Afghanistan       Urban  2000    4436.282

In [331]:
len(Population)

20914

In [332]:
Population['Granularity'].value_counts()

Total     4430
Urban     4414
Rural     4414
Male      3828
Female    3828
Name: Granularity, dtype: int64

Suppression des granularités Male/Female :

In [333]:
Population.drop\
(Population[Population['Granularity'] == 'Male'].index,inplace=True)
Population.drop\
(Population[Population['Granularity'] == 'Female'].index,inplace=True)

Population['Granularity'].value_counts() # vérification

Total    4430
Urban    4414
Rural    4414
Name: Granularity, dtype: int64

## RegionCountry

In [334]:
RegionCountry.head()

  REGION (DISPLAY) COUNTRY (DISPLAY)
0           Europe           Albania
1           Europe           Andorra
2           Europe           Armenia
3  Western Pacific         Australia
4           Europe           Austria

In [335]:
len(RegionCountry)

194

In [336]:
RegionCountry['REGION (DISPLAY)'].value_counts()

Europe                   53
Africa                   47
Americas                 35
Western Pacific          27
Eastern Mediterranean    21
South-East Asia          11
Name: REGION (DISPLAY), dtype: int64

### Changements RegionDisplay

In [337]:
# Pays dans Eastern Meditteranean placés en Afrique
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Morocco', 'Africa' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Tunisia', 'Africa' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Egypt', 'Africa' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Lybia', 'Africa' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Somalia', 'Africa' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Sudan', 'Africa' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Libya', 'Africa' , inplace=True)
# Pays dans Eastern Meditteranean placés en Asie
RegionCountry.loc[RegionCountry['REGION (DISPLAY)'] =='Eastern Mediterranean','REGION (DISPLAY)'] ='Asia'
# Pays dans South-East Asia placés en Asie
RegionCountry.loc[RegionCountry['REGION (DISPLAY)'] =='South-East Asia','REGION (DISPLAY)'] ='Asia'
# Pays dans Western Pacific placés en Océanie
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Australia','Oceania',inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Fiji', 'Oceania',inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Papua New Guinea','Oceania', inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Fiji', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Solomon Islands', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Marshall Islands', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Micronesia (Federated States of)', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'New Zealand', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Vanuatu', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Samoa', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Palau', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Kiribati', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Tuvalu', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Nauru', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Tonga', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Cook Islands', 'Oceania' , inplace=True)
RegionCountry['REGION (DISPLAY)'].mask(RegionCountry['COUNTRY (DISPLAY)'] == 'Niue', 'Oceania' , inplace=True)
# Pays dans Western Pacific placés en Asie
RegionCountry.loc[RegionCountry['REGION (DISPLAY)'] =='Western Pacific','REGION (DISPLAY)'] ='Asia'

In [338]:
RegionCountry[RegionCountry['REGION (DISPLAY)']=='Asia']

    REGION (DISPLAY)                      COUNTRY (DISPLAY)
6               Asia                                Bahrain
7               Asia                             Bangladesh
10              Asia                                 Bhutan
15              Asia                               Cambodia
18              Asia                                  China
26              Asia  Democratic People's Republic of Korea
45              Asia                                  India
46              Asia             Iran (Islamic Republic of)
47              Asia                                   Iraq
51              Asia                                  Japan
52              Asia                                 Jordan
55              Asia                                 Kuwait
57              Asia       Lao People's Democratic Republic
59              Asia                                Lebanon
62              Asia                               Malaysia
66              Asia                               Mongolia
69              Asia                                  Nepal
77              Asia                                   Oman
78              Asia                               Pakistan
81              Asia                            Philippines
84              Asia                                  Qatar
85              Asia                      Republic of Korea
94              Asia                              Singapore
99              Asia                              Sri Lanka
115             Asia                            Afghanistan
125             Asia                      Brunei Darussalam
136             Asia                               Djibouti
148             Asia                              Indonesia
156             Asia                               Maldives
163             Asia                                Myanmar
174             Asia                           Saudi Arabia
182             Asia                   Syrian Arab Republic
183             Asia                               Thailand
184             Asia                            Timor-Leste
189             Asia                   United Arab Emirates
191             Asia                               Viet Nam
192             Asia                                  Yemen

In [339]:
RegionCountry['REGION (DISPLAY)'].value_counts()

Africa      53
Europe      53
Asia        37
Americas    35
Oceania     16
Name: REGION (DISPLAY), dtype: int64

# <a name="C4"> Correspondance WaterServices & Mortality </a>

Fusion des datasets sur le pays :

In [340]:
df = BasicAndSafelyManagedDrinkingWaterServices.merge(MortalityRateAttributedToWater,
                                                      how='outer',
                                                      on='Country',
                                                      indicator=True)

Décomptes des lignes sans correspondance avec mention du dataset d'origine :

In [341]:
df._merge.value_counts()

both          9882
left_only      594
right_only       0
Name: _merge, dtype: int64

Tous les pays de Mortality ont une correspondance dans WaterServices.

Affichage des pays dans WaterServices sans correspondance dans Mortality :

In [342]:
left_only = df[df._merge == 'left_only']
left_only['Country'].value_counts()

Nauru                    54
Cook Islands             54
San Marino               54
Monaco                   54
Tuvalu                   54
Marshall Islands         54
Niue                     54
Dominica                 54
Palau                    54
Saint Kitts and Nevis    54
Andorra                  54
Name: Country, dtype: int64

On ne dispose de données sur la mortalité pour ces pays.

Suppression de la colonne _merge :

In [343]:
df.drop(columns=['_merge'],inplace=True)

# <a name="C5"> Correspondance df & PoliticalStability </a>

Fusion des datasets sur le pays :

In [344]:
df = df.merge(PoliticalStability,
             how='outer',
             on='Country',
             indicator=True)

Décomptes des lignes sans correspondance :

In [345]:
df._merge.value_counts()

both          181278
left_only        216
right_only       169
Name: _merge, dtype: int64

Pays dans df sans correspondance dans politicalStability :

In [346]:
left_only = df[df._merge == 'left_only']
left_only['Country'].value_counts()

San Marino                     54
Republic of North Macedonia    54
Monaco                         54
China                          54
Name: Country, dtype: int64

Pays dans PoliticalStability sans correspondance dans df :

In [347]:
right_only = df[df._merge == 'right_only']
right_only['Country'].value_counts()

Palestine                    18
Bermuda                      18
China, Taiwan Province of    18
North Macedonia              18
China, Macao SAR             18
Puerto Rico                  18
China, Hong Kong SAR         18
China, mainland              18
American Samoa               15
Greenland                    10
Name: Country, dtype: int64

## Monaco, San Marino

Pas de données sur la stabilité politique.

## Macédoine

changement du nom dans PoliticalStability pour établir la correspondance :

In [348]:
PoliticalStability.replace({'North Macedonia': 'Republic of North Macedonia'}, inplace=True)

Vérification :

In [349]:
PoliticalStability[PoliticalStability['Country'] == 'Republic of North Macedonia'].head()

                          Country  Year  Political_Stability Granularity
2320  Republic of North Macedonia  2000                -0.62       Total
2321  Republic of North Macedonia  2002                -1.04       Total
2322  Republic of North Macedonia  2003                -0.99       Total
2323  Republic of North Macedonia  2004                -0.85       Total
2324  Republic of North Macedonia  2005                -1.16       Total

## Puerto Rico, Bermudes, American Samoa, Palestine & Groënland

Aires géographiques avec un indice de stabilité politique qui ne sont pas recensés dans les dataset donnant les indicateurs sur l'eau.

Suppression des indicateurs de stabilité politique car ces aires géographiques prendront l'indicateur de stabilité politique de leurs pays d'appartenance.

In [350]:
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'Puerto Rico'].index,inplace=True)
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'Bermuda'].index,inplace=True)
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'American Samoa'].index,inplace=True)
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'Greenland'].index,inplace=True)
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'Palestine'].index,inplace=True)

Vérifications :

In [351]:
PoliticalStability[PoliticalStability['Country'] == 'Puerto Rico'].head()

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

In [352]:
PoliticalStability[PoliticalStability['Country'] == 'Bermuda'].head()

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

In [353]:
PoliticalStability[PoliticalStability['Country'] == 'American Samoa'].head()

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

In [354]:
PoliticalStability[PoliticalStability['Country'] == 'Greenland'].head()

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

In [355]:
PoliticalStability[PoliticalStability['Country'] == 'Palestine'].head()

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

## Chine

Suppression de l'indicateur de stabilité politique pour Honk-Kong, Macao et Taïwan car on ne dispose pas de données spécifiques sur l'accès à l'eau pour ces régions chinoises alors que les indicateurs sur l'eau semblent concerner tout le territoire de la Chine ("China").

On est donc obligés, en contrepartie, d'utiliser l'indicateur de stabilité politique de la Chine continentale pour ces zones.

### Suppression pour Honk-Kong :

In [356]:
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'China, Hong Kong SAR'].index,inplace=True)

Vérification :

In [357]:
PoliticalStability[PoliticalStability['Country'] == 'China, Hong Kong SAR']

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

### Suppression pour Macao :

In [358]:
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'China, Macao SAR'].index,inplace=True)

Vérification :

In [359]:
PoliticalStability[PoliticalStability['Country'] == 'China, Macao SAR']

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

### Suppression pour Taïwan

In [360]:
PoliticalStability.drop(PoliticalStability[PoliticalStability['Country'] == 'China, Taiwan Province of'].index,inplace=True)

Vérification :

In [361]:
PoliticalStability[PoliticalStability['Country'] == 'China, Taiwan Province of']

Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

### changement du nom 'China, mainland' dans PoliticalStability en 'China' pour établir la correspondance :

In [362]:
PoliticalStability.replace({'China, mainland': 'China'}, inplace=True)

In [363]:
PoliticalStability[PoliticalStability['Country'] == 'China']

    Country  Year  Political_Stability Granularity
699   China  2000                -0.21       Total
700   China  2002                -0.33       Total
701   China  2003                -0.56       Total
702   China  2004                -0.39       Total
703   China  2005                -0.50       Total
704   China  2006                -0.54       Total
705   China  2007                -0.50       Total
706   China  2008                -0.49       Total
707   China  2009                -0.45       Total
708   China  2010                -0.66       Total
709   China  2011                -0.60       Total
710   China  2012                -0.54       Total
711   China  2013                -0.54       Total
712   China  2014                -0.52       Total
713   China  2015                -0.55       Total
714   China  2016                -0.50       Total
715   China  2017                -0.23       Total
716   China  2018                -0.26       Total

Suppression de la colonne merge :

In [364]:
df.drop(columns=['_merge'],inplace=True)

## Vérification des modifications

Fusion de WaterServices et de Mortality :

In [365]:
df = BasicAndSafelyManagedDrinkingWaterServices.merge(MortalityRateAttributedToWater,
                                                      how='outer',
                                                      on='Country',
                                                      indicator=True)

Suppression de la colonne merge :

In [366]:
df.drop(columns=['_merge'],inplace=True)

Fusion de df et de PoliticalStability :

In [367]:
df = df.merge(PoliticalStability,
              how='outer',
              on='Country',
              indicator=True)

In [368]:
df['_merge'].value_counts()

both          183222
left_only        108
right_only         0
Name: _merge, dtype: int64

Pays dans df sans correspondance dans politicalStability :

In [369]:
left_only = df[df._merge == 'left_only']
left_only['Country'].value_counts()

San Marino    54
Monaco        54
Name: Country, dtype: int64

Vérification validée : il ne reste que les pays où les indicateurs de mortalité sont manquants.

Suppression de la colonne merge :

In [370]:
df.drop(columns=['_merge'],inplace=True)

In [371]:
len(df)

183330

# <a name="C6"> Correspondance df & Population </a>

Fusion des datasets sur le pays :

In [372]:
df = df.merge(Population,
             how='outer',
             on='Country',
             indicator=True)

Décomptes des lignes sans correspondance :

In [373]:
df._merge.value_counts()

both          10313730
right_only        2365
left_only          972
Name: _merge, dtype: int64

Pays dans df sans correspondance dans Population :

In [374]:
left_only = df[df._merge == 'left_only']
left_only['Country'].value_counts()

Republic of North Macedonia    972
Name: Country, dtype: int64

Pays dans Population sans correspondance dans df :

In [375]:
right_only = df[df._merge == 'right_only']
right_only = right_only['Country'].value_counts()
right_only

Greenland                                       57
Montserrat                                      57
China, mainland                                 57
Guam                                            57
Turks and Caicos Islands                        57
United States Virgin Islands                    57
Faroe Islands                                   57
French Guyana                                   57
Anguilla                                        57
Isle of Man                                     57
French Polynesia                                57
Guadeloupe                                      57
Palestine                                       57
China, Macao SAR                                57
Liechtenstein                                   57
Saint Pierre and Miquelon                       57
British Virgin Islands                          57
Netherlands Antilles (former)                   57
Cayman Islands                                  57
American Samoa                                  57
Mayotte                                         57
Saint Helena, Ascension and Tristan da Cunha    57
Gibraltar                                       57
Falkland Islands (Malvinas)                     57
Martinique                                      57
New Caledonia                                   57
Wallis and Futuna Islands                       57
Holy See                                        57
Bermuda                                         57
Channel Islands                                 57
Aruba                                           57
Western Sahara                                  57
Puerto Rico                                     57
North Macedonia                                 57
Réunion                                         57
Northern Mariana Islands                        57
China, Hong Kong SAR                            57
China, Taiwan Province of                       57
Tokelau                                         57
Sudan (former)                                  36
Curaçao                                         24
Sint Maarten  (Dutch part)                      24
Bonaire, Sint Eustatius and Saba                24
Serbia and Montenegro                           18
Saint Barthélemy                                 8
Saint-Martin (French part)                       8
Name: Country, dtype: int64

## Macédoine

Changement du nom 'North Macedonia" en "Republic of North Macedonia" dans Population :

In [376]:
Population.replace({'North Macedonia': 'Republic of North Macedonia'}, inplace=True)

Vérification :

In [377]:
Population[Population['Country'] == 'Republic of North Macedonia'].head()

                           Country Granularity  Year  Population
13904  Republic of North Macedonia       Total  2000    2034.819
13907  Republic of North Macedonia       Rural  2000     843.475
13908  Republic of North Macedonia       Urban  2000    1191.344
13909  Republic of North Macedonia       Total  2001    2042.842
13912  Republic of North Macedonia       Rural  2001     851.059

## Zones géographiques dans population

Ce sont des zones géographiques (pas des pays) dont on a indiqué la population.

La question est de savoir si, dans la population des pays de rattachement, la population de ces zones géographiques ont été ajoutées.

- Si oui : suppression des lignes dans Population
- Si non : Ajout de la popualtion de ces lignes aux pays de rattachement.

1er test sur la population de la Chine. Est-ce que l'entrée "China" prend en compte toute la population chinoise, avec Honk- Kong et Macao ?

In [378]:
Population[(Population['Country'] == 'China') & (Population['Year'] == 2018)]

     Country Granularity  Year   Population
3876   China       Total  2018  1459377.612
3879   China       Rural  2018   583199.631
3880   China       Urban  2018   863601.691

1 459 377 612 habitants en 2018 selon l'entrée 'China' du datset Population.
- 1 milliard 427 millions selon Worldometer
- 1 milliard 403 millions selon la Banque Mondiale

Conclusion : l'entrée China semble prendre en compte les populations de Honk-Kong et de Macao.

2ème test sur la population du Royaume-Uni.

In [379]:
Population[(Population['Country'] == 'United Kingdom of Great Britain and Northern Ireland') \
           & (Population['Year'] == 2018)]

,Country,Granularity,Year,Population
19712,United Kingdom of Great Britain and Northern I...,Total,2018,67141.684
19715,United Kingdom of Great Britain and Northern I...,Rural,2018,11052.278
19716,United Kingdom of Great Britain and Northern I...,Urban,2018,55521.226

67 millions selon l'entrée Royaume-Uni du dataset Population.
- 66,46 millions selon la Banque mondiale.

Conclusion : l'entrée Royaume-Uni semble prendre en compte les aires géographiques mentionnées par ailleurs dans le dataset Population (Iles Vierges Britanniques par exemple).

Conclusion Générale : suppression des lignes du dataset Population sans correspondance dans dataset df.

## Suppression des lignes dans Population

In [380]:
type(right_only)

pandas.core.series.Series

Transformation de l'index de right_only en liste (contenant les noms des aires géographiques à supprimer) :

In [381]:
right_only = right_only.index.tolist()

Vérification :

In [382]:
type(right_only)

list

In [383]:
print(right_only)

['Greenland', 'Montserrat', 'China, mainland', 'Guam', 'Turks and Caicos Islands', 'United States Virgin Islands', 'Faroe Islands', 'French Guyana', 'Anguilla', 'Isle of Man', 'French Polynesia', 'Guadeloupe', 'Palestine', 'China, Macao SAR', 'Liechtenstein', 'Saint Pierre and Miquelon', 'British Virgin Islands', 'Netherlands Antilles (former)', 'Cayman Islands', 'American Samoa', 'Mayotte', 'Saint Helena, Ascension and Tristan da Cunha', 'Gibraltar', 'Falkland Islands (Malvinas)', 'Martinique', 'New Caledonia', 'Wallis and Futuna Islands', 'Holy See', 'Bermuda', 'Channel Islands', 'Aruba', 'Western Sahara', 'Puerto Rico', 'North Macedonia', 'Réunion', 'Northern Mariana Islands', 'China, Hong Kong SAR', 'China, Taiwan Province of', 'Tokelau', 'Sudan (former)', 'Curaçao', 'Sint Maarten  (Dutch part)', 'Bonaire, Sint Eustatius and Saba', 'Serbia and Montenegro', 'Saint Barthélemy', 'Saint-Martin (French part)']

Suppression des entrées dans Population :

In [384]:
for i in right_only :
    Population.drop(Population[Population['Country'] == i].index,inplace=True)

Vérification :

In [385]:
for i in right_only :
    print(Population[Population['Country'] == i])

Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []
Empty DataFrame
Columns: [Country, Granularity, Year, Population]
Index: []

Suppression de la colonne merge :

In [386]:
df.drop(columns=['_merge'],inplace=True)

## Vérification des modifications :

Fusion de WaterServices et de Mortality :

In [387]:
df = BasicAndSafelyManagedDrinkingWaterServices.merge(MortalityRateAttributedToWater,
                                                      how='outer',
                                                      on='Country',
                                                      indicator=True)

Suppression de la colonne merge :

In [388]:
df.drop(columns=['_merge'],inplace=True)

Fusion de df et de PoliticalStability :

In [389]:
df = df.merge(PoliticalStability,
              how='outer',
              on='Country',
              indicator=True)

In [390]:
df['_merge'].value_counts()

both          183222
left_only        108
right_only         0
Name: _merge, dtype: int64

Suppression de la colonne merge :

In [391]:
df.drop(columns=['_merge'],inplace=True)

Fusion de df et de Population :

In [392]:
df = df.merge(Population,
              how='outer',
              on='Country',
              indicator=True)

In [393]:
df['_merge'].value_counts()

both          10369134
right_only           0
left_only            0
Name: _merge, dtype: int64

Vérification validée.

Suppression de la colonne merge :

In [394]:
df.drop(columns=['_merge'],inplace=True)

# <a name="C7"> Correspondance df & RegionCountry </a>

In [395]:
RegionCountry.head()

  REGION (DISPLAY) COUNTRY (DISPLAY)
0           Europe           Albania
1           Europe           Andorra
2           Europe           Armenia
3          Oceania         Australia
4           Europe           Austria

Il faut renommer la colonne 'COUNTRY (DISPLAY)' en 'Country' pour la fusion des données.

In [396]:
RegionCountry.rename(columns={"COUNTRY (DISPLAY)":"Country"}, inplace=True)

Vérification :

In [397]:
RegionCountry.head()

  REGION (DISPLAY)    Country
0           Europe    Albania
1           Europe    Andorra
2           Europe    Armenia
3          Oceania  Australia
4           Europe    Austria

Fusion de df et de RegionCountry :

In [398]:
df = df.merge(RegionCountry,
              how='outer',
              on='Country',
              indicator=True)

In [399]:
df['_merge'].value_counts()

both          10369134
right_only           0
left_only            0
Name: _merge, dtype: int64

Toutes les entrées 'Country' correspondent.

# <a name="C8"> Fusion des datsets après nettoyage </a>

## <a name="C9"> Fusion WaterServices & Mortality </a>

Analyses des colonnes sur lesquelles fusionner :

In [400]:
BasicAndSafelyManagedDrinkingWaterServices.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
0,2000,Afghanistan,Rural,21.61913,NaN
1,2000,Afghanistan,Total,27.77190,NaN
2,2000,Afghanistan,Urban,49.48745,NaN
3,2000,Albania,Rural,81.78472,NaN
4,2000,Albania,Total,87.86662,49.29324

In [401]:
MortalityRateAttributedToWater.head()

,Year,Country,Granularity,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
2,2016,Afghanistan,Total,13.92067,4824.35300
5,2016,Albania,Total,0.16641,4.86975
8,2016,Algeria,Total,1.86723,758.21000
11,2016,Angola,Total,48.81467,14065.20000
14,2016,Antigua and Barbuda,Total,0.11403,0.11513

In [402]:
temp_df = pd.pivot_table(MortalityRateAttributedToWater,
                         values=['WASH deaths'],
                         aggfunc='sum',
                         index='Granularity')
temp_df

              WASH deaths
Granularity
Total        870365.88011

Fusion sur les colonnes Country, year et Granularity :

In [403]:
df = BasicAndSafelyManagedDrinkingWaterServices.merge(MortalityRateAttributedToWater,
                                                      how='outer',
                                                      on=['Country','Year','Granularity'],
                                                      indicator=True)

Vérification de la fusion

In [404]:
df['_merge'].value_counts()

left_only     10293
both            183
right_only        0
Name: _merge, dtype: int64

183 lignes ont une correspondance. Nombre de lignes du dataset MortalityRateAttributedToWater :

In [405]:
len(MortalityRateAttributedToWater)

183

Toutes les données ont été fusionnées. Vérification de la fusion en filtrant sur l'année 2016, la granularité Total et l'indicateur _merge à 'both'.

On doit trouver 183 lignes pour être sur que ça ait été fusionné sur l'année 2016 et la granularité Total :

In [406]:
temp_df = df[(df['Year'] == 2016) & (df['Granularity'] == 'Total') & (df['_merge'] == 'both')]
print('Nombre de lignes :',len(temp_df))

Nombre de lignes : 183

In [407]:
temp_df

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,_merge
9313,2016,Afghanistan,Total,64.28648,NaN,13.92067,4824.35300,both
9316,2016,Albania,Total,91.02037,69.98433,0.16641,4.86975,both
9319,2016,Algeria,Total,93.51585,NaN,1.86723,758.21000,both
9325,2016,Angola,Total,55.08428,NaN,48.81467,14065.20000,both
9328,2016,Antigua and Barbuda,Total,96.73919,NaN,0.11403,0.11513,both
9331,2016,Argentina,Total,99.07838,NaN,0.36294,159.14110,both
9334,2016,Armenia,Total,99.89854,83.00597,0.17688,5.17336,both
9337,2016,Australia,Total,99.96997,NaN,0.09539,23.01346,both
9340,2016,Austria,Total,100.00000,98.90781,0.12375,10.78108,both
9343,2016,Azerbaijan,Total,90.71031,73.01500,1.11988,108.91280,both
9346,2016,Bahamas,Total,98.88696,NaN,0.06853,0.26811,both
9349,2016,Bahrain,Total,100.00000,98.98326,0.03960,0.56435,both
9352,2016,Bangladesh,Total,96.88253,55.49126,11.94467,19464.03000,both
9355,2016,Barbados,Total,98.48444,NaN,0.16462,0.46915,both
9358,2016,Belarus,Total,96.47418,94.49743,0.05165,4.89667,both
9361,2016,Belgium,Total,100.00000,99.52319,0.28179,32.00647,both
9364,2016,Belize,Total,97.58454,NaN,0.96521,3.54188,both
9367,2016,Benin,Total,66.32024,NaN,59.73005,6494.03400,both
9370,2016,Bhutan,Total,97.20763,35.99732,3.94974,31.50916,both
9373,2016,Bolivia (Plurinational State of),Total,92.17690,NaN,5.57744,607.26450,both
9376,2016,Bosnia and Herzegovina,Total,96.15126,88.83336,0.07872,2.76853,both
9379,2016,Botswana,Total,89.40444,NaN,11.76669,264.78070,both
9382,2016,Brazil,Total,97.84798,NaN,1.04700,2174.62300,both
9385,2016,Brunei Darussalam,Total,99.90001,NaN,0.04520,0.19128,both
9388,2016,Bulgaria,Total,99.14818,96.96734,0.12884,9.18815,both
9391,2016,Burkina Faso,Total,48.26772,NaN,49.64125,9256.32500,both
9394,2016,Burundi,Total,60.20415,NaN,65.40117,6882.90100,both
9397,2016,Cabo Verde,Total,86.48798,NaN,4.13675,22.32021,both
9400,2016,Cambodia,Total,76.94537,25.24514,6.47033,1019.87700,both
9403,2016,Cameroon,Total,60.15572,NaN,45.15287,10583.47000,both
9406,2016,Canada,Total,99.41262,98.81350,0.36794,133.52630,both
9409,2016,Central African Republic,Total,46.33376,NaN,82.11312,3772.78400,both
9412,2016,Chad,Total,38.85259,NaN,101.04312,14603.30000,both
9415,2016,Chile,Total,99.62218,98.46397,0.20277,36.31498,both
9418,2016,China,Total,92.30405,NaN,0.57632,8134.22300,both
9421,2016,Colombia,Total,96.96181,72.99789,0.75310,366.41090,both
9424,2016,Comoros,Total,80.14886,NaN,50.73689,403.66420,both
9427,2016,Congo,Total,72.18665,44.76963,38.70865,1984.13800,both
9433,2016,Costa Rica,Total,99.69976,93.70390,0.86387,41.96055,both
9436,2016,Croatia,Total,99.58675,89.95949,0.11204,4.72051,both
9439,2016,Cuba,Total,95.32452,NaN,1.02635,117.78320,both
9442,2016,Cyprus,Total,99.61320,99.61320,0.27908,3.26564,both
9445,2016,Czechia,Total,99.88017,97.88100,0.17881,18.97327,both
9448,2016,Côte d'Ivoire,Total,72.76205,36.39219,47.15776,11174.47000,both
9451,2016,Democratic People's Republic of Korea,Total,94.86210,66.79067,1.35658,344.14450,both
9454,2016,Democratic Republic of the Congo,Total,42.97677,NaN,59.75592,47049.52000,both
9457,2016,Denmark,Total,100.00000,96.73594,0.30561,17.45619,both
9460,2016,Djibouti,Total,75.60252,NaN,31.28645,294.82600,both
9466,2016,Dominican Republic,Total,96.57637,NaN,2.20544,234.85220,both
9469,2016,Ecuador,Total,93.68204,74.85141,0.64215,105.21750,both
9472,2016,Egypt,Total,99.03286,NaN,2.20220,1915.88200,both
9475,2016,El Salvador,Total,97.06386,NaN,2.00514,127.22030,both
9478,2016,Equatorial Guinea,Total,64.42552,NaN,22.28946,272.26470,both
9481,2016,Eritrea,Total,51.84972,NaN,45.56445,2257.55600,both
9484,2016,Estonia,Total,99.71165,93.64887,0.00627,0.08229,both
9487,2016,Eswatini,Total,68.94830,NaN,27.89303,374.63070,both
9490,2016,Ethiopia,Total,40.04142,10.86826,43.66399,44713.33000,both
9493,2016,Fiji,Total,93.74462,NaN,2.88769,25.95353,both
9496,2016,Finland,Total,100.00000,99.63187,0.03616,1.99014,both
9499,2016,France,Total,100.00000,97.78383,0.26542,171.77870,both
9502,2016,Gabon,Total,85.62704,NaN,20.57946,407.42950,both
9505,2016,Gambia,Total,77.82724,NaN,29.65944,604.60970,both
9508,2016,Georgia,Total,98.17055,79.81266,0.17978,7.05726,both
9511,2016,Germany,Total,100.00000,99.80000,0.58651,480.43470,both
9514,2016,Ghana,Total,80.43578,34.75200,18.83582,5312.96700,both
9517,2016,Greece,Total,100.00000,100.00000,0.03710,4.14944,both
9520,2016,Grenada,Total,95.62865,87.11526,0.34283,0.36792,both
9523,2016,Guatemala,Total,93.72089,55.66295,6.29517,1043.89500,both
9526,2016,Guinea,Total,62.10819,NaN,44.63392,5532.78400,both
9529,2016,Guinea-Bissau,Total,66.50823,NaN,35.27235,640.44080,both
9532,2016,Guyana,Total,95.53635,NaN,3.64877,28.21598,both
9535,2016,Haiti,Total,65.02302,NaN,23.79188,2580.78600,both
9538,2016,Honduras,Total,94.28603,NaN,3.61890,329.78520,both
9541,2016,Hungary,Total,99.97081,86.75824,0.23983,23.39143,both
9544,2016,Iceland,Total,100.00000,99.57044,0.10354,0.34426,both
9547,2016,India,Total,91.85928,NaN,18.58389,246087.90000,both
9550,2016,Indonesia,Total,88.65653,NaN,7.05721,18426.38000,both
9553,2016,Iran (Islamic Republic of),Total,95.20149,91.73247,0.98453,790.35850,both
9556,2016,Iraq,Total,95.61298,58.31704,3.03475,1129.00500,both
9559,2016,Ireland,Total,97.38348,97.31146,0.07416,3.50464,both
9562,2016,Israel,Total,100.00000,99.43504,0.24682,20.21871,both
9565,2016,Italy,Total,99.44250,95.03938,0.13718,81.52759,both
9568,2016,Jamaica,Total,90.61792,NaN,0.61365,17.68140,both
9571,2016,Japan,Total,98.97000,98.40837,0.16670,212.96280,both
9574,2016,Jordan,Total,98.97105,93.84464,0.62637,59.22872,both
9577,2016,Kazakhstan,Total,95.04381,87.50956,0.38312,68.91383,both
9580,2016,Kenya,Total,58.28035,NaN,51.15460,24790.32000,both
9583,2016,Kiribati,Total,70.34607,NaN,16.65830,19.05509,both
9586,2016,Kuwait,Total,100.00000,100.00000,0.01242,0.50324,both
9589,2016,Kyrgyzstan,Total,87.42696,68.14770,0.77594,46.21274,both
9592,2016,Lao People's Democratic Republic,Total,79.94190,15.68307,11.31273,764.55440,both
9595,2016,Latvia,Total,98.57478,94.98471,0.02060,0.40592,both
9598,2016,Lebanon,Total,92.60000,47.70000,0.78675,47.25737,both
9601,2016,Lesotho,Total,68.62891,NaN,44.35666,977.54310,both
9604,2016,Liberia,Total,72.44901,NaN,41.54313,1916.72900,both
9607,2016,Libya,Total,98.52895,NaN,0.58270,36.67053,both
9610,2016,Lithuania,Total,97.07375,91.60094,0.08078,2.34934,both
9613,2016,Luxembourg,Total,99.90687,99.76517,0.04850,0.27921,both
9616,2016,Madagascar,Total,53.18465,NaN,30.23168,7526.03900,both
9619,2016,Malawi,Total,67.91184,NaN,28.29031,5118.16300,both
9622,2016,Malaysia,Total,96.72462,93.31452,0.41999,130.98340,both
9625,2016,Maldives,Total,99.23921,NaN,0.30585,1.30830,both
9628,2016,Mali,Total,76.58435,NaN,70.72140,12726.20000,both
9631,2016,Malta,Total,100.00000,100.00000,0.03337,0.14329,both
9637,2016,Mauritania,Total,68.83202,NaN,38.56949,1658.88200,both
9640,2016,Mauritius,Total,99.86639,NaN,0.58845,7.42695,both
9643,2016,Mexico,Total,98.88368,42.68274,1.05554,1346.23700,both
9646,2016,Micronesia (Federated States of),Total,78.56648,NaN,3.56993,3.74615,both
9652,2016,Mongolia,Total,82.80058,23.61521,1.28871,39.01429,both
9655,2016,Montenegro,Total,97.05335,93.04792,0.02545,0.15999,both
9658,2016,Morocco,Total,86.63644,69.99794,1.90323,671.39730,both
9661,2016,Mozambique,Total,53.44394,NaN,27.62905,7965.31000,both
9664,2016,Myanmar,Total,80.84426,NaN,12.61942,6673.80500,both
9667,2016,Namibia,Total,82.21806,NaN,18.31716,454.21270,both
9673,2016,Nepal,Total,88.34641,27.05820,19.82954,5747.14900,both
9676,2016,Netherlands,Total,100.00000,99.95101,0.24093,40.92825,both
9679,2016,New Zealand,Total,100.00000,100.00000,0.14577,6.79392,both
9682,2016,Nicaragua,Total,81.50474,51.52127,2.24431,138.02320,both
9685,2016,Niger,Total,49.50156,NaN,70.81496,14639.56000,both
9688,2016,Nigeria,Total,70.02553,19.90354,68.62818,127641.30000,both
9694,2016,Norway,Total,100.00000,98.34296,0.21161,11.11950,both
9697,2016,Oman,Total,91.75999,90.07999,0.04553,2.01467,both
9700,2016,Pakistan,Total,91.14014,35.53562,19.58922,37847.05000,both
9706,2016,Panama,Total,95.97945,NaN,1.89632,76.49982,both
9709,2016,Papua New Guinea,Total,40.73222,NaN,16.30974,1318.64200,both
9712,2016,Paraguay,Total,98.56575,63.24590,1.46453,98.49413,both
9715,2016,Peru,Total,90.58557,50.08746,1.27684,405.70230,both
9718,2016,Philippines,Total,93.07372,46.44318,4.19289,4332.10500,both
9721,2016,Poland,Total,99.38385,98.59683,0.09072,34.67636,both
9724,2016,Portugal,Total,99.90618,95.30865,0.15292,15.86048,both
9727,2016,Qatar,Total,99.62980,96.24239,0.00811,0.20829,both
9730,2016,Republic of Korea,Total,99.67540,98.10338,1.80559,917.09530,both
9733,2016,Republic of Moldova,Total,88.68506,72.58717,0.09594,3.89474,both
9736,2016,Republic of North Macedonia,Total,93.15266,82.20748,0.07433,1.54705,both
9739,2016,Romania,Total,100.00000,81.90562,0.36236,71.66723,both
9742,2016,Russian Federation,Total,96.96095,75.92105,0.10474,150.79380,both
9745,2016,Rwanda,Total,56.98162,NaN,19.34948,2305.97600,both
9751,2016,Saint Lucia,Total,98.16222,NaN,0.62866,1.11909,both
9754,2016,Saint Vincent and the Grenadines,Total,95.14522,NaN,1.33276,1.46129,both
9757,2016,Samoa,Total,97.30364,58.77221,1.48876,2.90513,both
9763,2016,Sao Tome and Principe,Total,84.20084,NaN,11.36110,22.71185,both
9766,2016,Saudi Arabia,Total,99.86361,NaN,0.09226,29.77708,both
9769,2016,Senegal,Total,79.46232,NaN,23.86927,3678.63900,both
9772,2016,Serbia,Total,85.52885,74.70980,0.73678,64.98421,both
9775,2016,Seychelles,Total,96.24902,NaN,0.16940,0.15963,both
9778,2016,Sierra Leone,Total,59.56314,9.53397,81.29262,6012.55000,both
9781,2016,Singapore,Total,100.00000,100.00000,0.06611,3.71719,both
9784,2016,Slovakia,Total,99.78751,99.69782,0.04474,2.43565,both
9787,2016,Slovenia,Total,99.53439,97.84573,0.02115,0.43939,both
9790,2016,Solomon Islands,Total,68.54480,NaN,6.17562,37.01826,both
9793,2016,Somalia,Total,50.81511,NaN,86.57523,12395.83000,both
9796,2016,South Africa,Total,92.27031,NaN,13.66885,7656.67200,both
9799,2016,South Sudan,Total,40.81390,NaN,63.28665,7740.42000,both
9802,2016,Spain,Total,99.92651,98.46078,0.15183,70.36836,both
9805,2016,Sri Lanka,Total,88.83598,NaN,1.19003,247.50770,both
9808,2016,Sudan,Total,60.21589,NaN,17.32224,6855.94100,both
9811,2016,Suriname,Total,94.51940,NaN,2.00714,11.20705,both
9814,2016,Sweden,Total,100.00000,99.93999,0.21519,21.16900,both
9817,2016,Switzerland,Total,100.00000,95.45541,0.13784,11.58101,both
9820,2016,Syrian Arab Republic,Total,97.05907,NaN,3.66540,675.54950,both
9823,2016,Tajikistan,Total,79.62585,47.68568,2.70048,235.88540,both
9826,2016,Thailand,Total,99.37380,NaN,3.50653,2414.71700,both
9829,2016,Timor-Leste,Total,76.65939,NaN,9.91329,125.76670,both
9832,2016,Togo,Total,64.02144,NaN,41.63327,3166.78000,both
9835,2016,Tonga,Total,99.90674,NaN,1.42545,1.52692,both
9838,2016,Trinidad and Tobago,Total,98.18496,NaN,0.14189,1.93681,both
9841,2016,Tunisia,Total,95.99240,92.39928,1.01527,115.77420,both
9844,2016,Turkey,Total,98.88087,NaN,0.29570,235.11920,both
9847,2016,Turkmenistan,Total,98.70372,93.00560,3.97765,225.23610,both
9853,2016,Uganda,Total,47.66563,6.95153,31.55895,13093.17000,both
9856,2016,Ukraine,Total,93.72408,91.94227,0.26862,119.37170,both
9859,2016,United Arab Emirates,Total,97.40737,NaN,0.02912,2.69967,both
9862,2016,United Kingdom of Great Britain and Northern I...,Total,100.00000,99.98878,0.19720,129.73470,both
9865,2016,United Republic of Tanzania,Total,54.84754,NaN,38.40323,21341.52000,both
9868,2016,United States of America,Total,99.26371,98.99631,0.23153,745.97610,both
9871,2016,Uruguay,Total,99.32289,NaN,0.36017,12.40418,both
9874,2016,Uzbekistan,Total,97.68127,58.88147,0.44151,138.83980,both
9877,2016,Vanuatu,Total,90.66152,43.84248,10.41773,28.17007,both
9880,2016,Venezuela (Bolivarian Republic of),Total,95.77837,NaN,1.39030,438.89230,both
9883,2016,Viet Nam,Total,93.99012,NaN,1.62080,1532.77700,both
9886,2016,Yemen,Total,63.32203,NaN,10.20328,2814.49500,both
9889,2016,Zambia,Total,59.23856,NaN,34.91273,5792.50400,both
9892,2016,Zimbabwe,Total,64.51162,NaN,24.55074,3965.03300,both

Vérification validée.

Suppression de la colonne _merge

In [408]:
df.drop('_merge', inplace=True, axis=1)

Vérification de la suppression

In [409]:
df.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN
3,2000,Albania,Rural,81.78472,NaN,NaN,NaN
4,2000,Albania,Total,87.86662,49.29324,NaN,NaN

## <a name="C10"> Fusion df & Political Stability </a>

Analyse des colonnes de PoliticalStability pour savoir sur quelles colonnes fusionner :

In [410]:
PoliticalStability.head()

       Country  Year  Political_Stability Granularity
0  Afghanistan  2000                -2.44       Total
1  Afghanistan  2002                -2.04       Total
2  Afghanistan  2003                -2.20       Total
3  Afghanistan  2004                -2.30       Total
4  Afghanistan  2005                -2.07       Total

Il faut fusionner sur Country, Year et Granularity.

Recherche des granularités présentes dans Political Stability :

In [411]:
PoliticalStability['Granularity'].value_counts()

Total    3393
Name: Granularity, dtype: int64

Il n'y a que la granularité Total.

Fusion des datasets :

In [412]:
df1 = df.merge(PoliticalStability,
              how='outer',
              on=['Country','Year','Granularity'],
              indicator=True)

Vérification de la fusion :

In [413]:
df1['_merge'].value_counts()

left_only     7273
both          3203
right_only     190
Name: _merge, dtype: int64

In [414]:
right_only = df1[df1['_merge'] == 'right_only']
right_only.head(20)

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,_merge
10476,2018,Afghanistan,Total,NaN,NaN,NaN,NaN,-2.75,right_only
10477,2018,Albania,Total,NaN,NaN,NaN,NaN,0.38,right_only
10478,2018,Algeria,Total,NaN,NaN,NaN,NaN,-0.79,right_only
10479,2018,Andorra,Total,NaN,NaN,NaN,NaN,1.43,right_only
10480,2018,Angola,Total,NaN,NaN,NaN,NaN,-0.32,right_only
10481,2018,Antigua and Barbuda,Total,NaN,NaN,NaN,NaN,0.73,right_only
10482,2018,Argentina,Total,NaN,NaN,NaN,NaN,0.02,right_only
10483,2018,Armenia,Total,NaN,NaN,NaN,NaN,-0.42,right_only
10484,2018,Australia,Total,NaN,NaN,NaN,NaN,0.98,right_only
10485,2018,Austria,Total,NaN,NaN,NaN,NaN,0.92,right_only
10486,2018,Azerbaijan,Total,NaN,NaN,NaN,NaN,-0.70,right_only
10487,2018,Bahamas,Total,NaN,NaN,NaN,NaN,0.87,right_only
10488,2018,Bahrain,Total,NaN,NaN,NaN,NaN,-0.84,right_only
10489,2018,Bangladesh,Total,NaN,NaN,NaN,NaN,-1.03,right_only
10490,2018,Barbados,Total,NaN,NaN,NaN,NaN,0.92,right_only
10491,2018,Belarus,Total,NaN,NaN,NaN,NaN,0.35,right_only
10492,2018,Belgium,Total,NaN,NaN,NaN,NaN,0.41,right_only
10493,2018,Belize,Total,NaN,NaN,NaN,NaN,0.02,right_only
10494,2018,Benin,Total,NaN,NaN,NaN,NaN,-0.13,right_only
10495,2018,Bhutan,Total,NaN,NaN,NaN,NaN,1.10,right_only

In [415]:
right_only['Year'].value_counts()

2018    190
Name: Year, dtype: int64

Pas de fusion sur l'année 2018. Y'a-t-il une année 2018 dans df ?

In [416]:
df['Year'].value_counts().sort_index()

2000    582
2001    582
2002    582
2003    582
2004    582
2005    582
2006    582
2007    582
2008    582
2009    582
2010    582
2011    582
2012    582
2013    582
2014    582
2015    582
2016    582
2017    582
Name: Year, dtype: int64

Non, les right_only sont donc justifiés.

Il y a 3393 lignes dans le dataset PoliticalStability. 3203 lignes ont été fusionnées et 190 non (année 2018 manquante dans df). Toutes les lignes ont-elles été vérifiées ?

In [417]:
3203+190

3393

Oui.

Vérification de la fusion df-PoliticalStability validée.

In [418]:
df1.drop(columns=['_merge'],inplace=True)

## <a name="C11"> Fusion df & Population </a>

Lecture des colonnes de Population pour savoir sur quelles colonnes fusionner :

In [419]:
Population.head()

       Country Granularity  Year  Population
0  Afghanistan       Total  2000   20779.953
3  Afghanistan       Rural  2000   15657.474
4  Afghanistan       Urban  2000    4436.282
5  Afghanistan       Total  2001   21606.988
8  Afghanistan       Rural  2001   16318.324

Il faut fusionner sur Country, Year et Granularity.

Recherche des granularités présentes dans Population :

In [420]:
Population['Granularity'].value_counts()

Urban    3650
Rural    3650
Total    3650
Name: Granularity, dtype: int64

Fusion des datasets :

In [421]:
df2 = df1.merge(Population,
              how='outer',
              on=['Country','Year','Granularity'],
              indicator=True)

Vérification de la fusion :

In [422]:
df2['_merge'].value_counts()

both          10558
right_only      392
left_only       108
Name: _merge, dtype: int64

In [423]:
right_only = df2[df2['_merge'] == 'right_only']
right_only.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,_merge
10666,2018,Afghanistan,Rural,NaN,NaN,NaN,NaN,NaN,27099.874,right_only
10667,2018,Afghanistan,Urban,NaN,NaN,NaN,NaN,NaN,9273.302,right_only
10668,2018,Albania,Rural,NaN,NaN,NaN,NaN,NaN,1164.388,right_only
10669,2018,Albania,Urban,NaN,NaN,NaN,NaN,NaN,1769.975,right_only
10670,2018,Algeria,Rural,NaN,NaN,NaN,NaN,NaN,11498.038,right_only

Données de 2018 ?

In [424]:
right_only['Year'].value_counts()

2018    392
Name: Year, dtype: int64

Le dataset df1 ne contient, pour l'année 2018, que la granularité Total puisque :
- df (WaterServices + Mortality) n'a pas de données sur 2018
- PoliticalStability a des données sur 2018 sur la granularité Total

On s'attend donc à ne trouver que les granularités Rural et Urban sur right_only.

In [425]:
right_only['Granularity'].value_counts()

Rural    194
Urban    194
Total      4
Name: Granularity, dtype: int64

Affichage des granularités Total :

In [426]:
right_only[right_only['Granularity'] == 'Total']

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,_merge
10744,2018,Cook Islands,Total,NaN,NaN,NaN,NaN,NaN,17.518,right_only
10891,2018,Monaco,Total,NaN,NaN,NaN,NaN,NaN,38.682,right_only
10920,2018,Niue,Total,NaN,NaN,NaN,NaN,NaN,1.620,right_only
10967,2018,San Marino,Total,NaN,NaN,NaN,NaN,NaN,33.785,right_only

Hypothèse : les pays dans right_only n'existent pas dans PoliticalStability, au moins pour l'année 2018.

Vérification :

In [427]:
countries = right_only[right_only['Granularity'] == 'Total']
countries_list = countries['Country']
countries_list

10744    Cook Islands
10891          Monaco
10920            Niue
10967      San Marino
Name: Country, dtype: object

In [428]:
type(countries_list)

pandas.core.series.Series

In [429]:
for i in countries_list :
    print(PoliticalStability[PoliticalStability['Country'] == i])

          Country  Year  Political_Stability Granularity
789  Cook Islands  2009                 1.14       Total
790  Cook Islands  2010                 1.32       Total
Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []
     Country  Year  Political_Stability Granularity
2318    Niue  2009                 1.14       Total
2319    Niue  2010                 1.32       Total
Empty DataFrame
Columns: [Country, Year, Political_Stability, Granularity]
Index: []

Ces pays n'ont pas de données pour l'année 2018, ce qui explique qu'il n'y ait pas de fusion.

Vérification right_only validée.

Nombre de lignes de Population :

In [430]:
len(Population)

10950

Résultat de la fusion df1 + Population

In [431]:
df2['_merge'].value_counts()

both          10558
right_only      392
left_only       108
Name: _merge, dtype: int64

Si les lignes avec indicateurs both + right_only = 10950, toutes les lignes auront été vérifiées.

In [432]:
392+10558

10950

Fusion df1 + Population validée.

Suppression colonne _merge :

In [433]:
df2.drop(columns = '_merge', inplace=True)

## <a name="C12"> Fusion df2 & RegionCountry </a>

Affichage des colonnes de RegionCountry pour savoir sur quelles colonnes fusionner :

In [434]:
RegionCountry.head()

  REGION (DISPLAY)    Country
0           Europe    Albania
1           Europe    Andorra
2           Europe    Armenia
3          Oceania  Australia
4           Europe    Austria

Fusion sur Country :

In [435]:
df3 = df2.merge(RegionCountry,
              how='outer',
              on='Country',
              indicator=True)

Vérification de la fusion :

In [436]:
df3['_merge'].value_counts()

both          11058
right_only        0
left_only         0
Name: _merge, dtype: int64

Fusion validée

In [437]:
df3.drop(columns = '_merge', inplace=True)

In [438]:
df3.head(50)

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY)
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia
5,2001,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4648.139,Asia
6,2002,Afghanistan,Rural,23.59988,NaN,NaN,NaN,NaN,17086.910,Asia
7,2002,Afghanistan,Total,29.90076,NaN,NaN,NaN,-2.04,22600.770,Asia
8,2002,Afghanistan,Urban,51.90447,NaN,NaN,NaN,NaN,4893.013,Asia
9,2003,Afghanistan,Rural,25.58063,NaN,NaN,NaN,NaN,17909.063,Asia
10,2003,Afghanistan,Total,32.00507,NaN,NaN,NaN,-2.20,23680.871,Asia
11,2003,Afghanistan,Urban,54.32149,NaN,NaN,NaN,NaN,5155.788,Asia
12,2004,Afghanistan,Rural,27.56138,NaN,NaN,NaN,NaN,18692.107,Asia
13,2004,Afghanistan,Total,34.12623,NaN,NaN,NaN,-2.30,24726.684,Asia
14,2004,Afghanistan,Urban,56.73851,NaN,NaN,NaN,NaN,5426.872,Asia
15,2005,Afghanistan,Rural,29.54213,NaN,NaN,NaN,NaN,19378.962,Asia
16,2005,Afghanistan,Total,36.26526,NaN,NaN,NaN,-2.07,25654.277,Asia
17,2005,Afghanistan,Urban,59.15553,NaN,NaN,NaN,NaN,5691.836,Asia
18,2006,Afghanistan,Rural,31.52288,NaN,NaN,NaN,NaN,19961.972,Asia
19,2006,Afghanistan,Total,38.40636,NaN,NaN,NaN,-2.22,26433.049,Asia
20,2006,Afghanistan,Urban,61.57254,NaN,NaN,NaN,NaN,5931.478,Asia
21,2007,Afghanistan,Rural,33.73274,NaN,NaN,NaN,NaN,20464.923,Asia
22,2007,Afghanistan,Total,40.84418,NaN,NaN,NaN,-2.41,27100.536,Asia
23,2007,Afghanistan,Urban,64.50089,NaN,NaN,NaN,NaN,6151.869,Asia
24,2008,Afghanistan,Rural,35.96969,NaN,NaN,NaN,NaN,20929.119,Asia
25,2008,Afghanistan,Total,43.31506,NaN,NaN,NaN,-2.69,27722.276,Asia
26,2008,Afghanistan,Urban,67.46785,NaN,NaN,NaN,NaN,6364.912,Asia
27,2009,Afghanistan,Rural,38.23373,NaN,NaN,NaN,NaN,21415.593,Asia
28,2009,Afghanistan,Total,45.81909,NaN,NaN,NaN,-2.71,28394.813,Asia
29,2009,Afghanistan,Urban,70.47343,NaN,NaN,NaN,NaN,6588.738,Asia
30,2010,Afghanistan,Rural,40.52486,NaN,NaN,NaN,NaN,21966.187,Asia
31,2010,Afghanistan,Total,48.35636,NaN,NaN,NaN,-2.58,29185.507,Asia
32,2010,Afghanistan,Urban,73.51765,NaN,NaN,NaN,NaN,6836.980,Asia
33,2011,Afghanistan,Rural,42.84308,NaN,NaN,NaN,NaN,22594.126,Asia
34,2011,Afghanistan,Total,50.92731,NaN,NaN,NaN,-2.50,30117.413,Asia
35,2011,Afghanistan,Urban,76.60050,NaN,NaN,NaN,NaN,7114.473,Asia
36,2012,Afghanistan,Rural,45.18839,NaN,NaN,NaN,NaN,23280.663,Asia
37,2012,Afghanistan,Total,53.53170,NaN,NaN,NaN,-2.42,31161.376,Asia
38,2012,Afghanistan,Urban,79.72198,NaN,NaN,NaN,NaN,7416.295,Asia
39,2013,Afghanistan,Rural,47.56079,NaN,NaN,NaN,NaN,23997.856,Asia
40,2013,Afghanistan,Total,56.16964,NaN,NaN,NaN,-2.52,32269.589,Asia
41,2013,Afghanistan,Urban,82.88207,NaN,NaN,NaN,NaN,7733.832,Asia
42,2014,Afghanistan,Rural,49.96028,NaN,NaN,NaN,NaN,24703.798,Asia
43,2014,Afghanistan,Total,58.84123,NaN,NaN,NaN,-2.41,33370.794,Asia
44,2014,Afghanistan,Urban,86.08080,NaN,NaN,NaN,NaN,8054.222,Asia
45,2015,Afghanistan,Rural,52.38686,NaN,NaN,NaN,NaN,25368.923,Asia
46,2015,Afghanistan,Total,61.54693,NaN,NaN,NaN,-2.57,34413.603,Asia
47,2015,Afghanistan,Urban,89.31815,NaN,NaN,NaN,NaN,8367.571,Asia
48,2016,Afghanistan,Rural,54.84053,NaN,NaN,NaN,NaN,25985.093,Asia
49,2016,Afghanistan,Total,64.28648,NaN,13.92067,4824.353,-2.67,35383.032,Asia

In [439]:
df3.to_csv('df.csv', index=False)

In [440]:
df4 = df3

# <a name="C14.2"> Ajout de la colonne Urban population rate </a>

Stockage granularité Total :

In [441]:
total = df4[df4['Granularity'] == 'Total']
total.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY)
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia
7,2002,Afghanistan,Total,29.90076,NaN,NaN,NaN,-2.04,22600.770,Asia
10,2003,Afghanistan,Total,32.00507,NaN,NaN,NaN,-2.20,23680.871,Asia
13,2004,Afghanistan,Total,34.12623,NaN,NaN,NaN,-2.30,24726.684,Asia

Stockage granularité Urban :

In [442]:
urban = df4[df4['Granularity'] == 'Urban']
urban.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY)
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia
5,2001,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4648.139,Asia
8,2002,Afghanistan,Urban,51.90447,NaN,NaN,NaN,NaN,4893.013,Asia
11,2003,Afghanistan,Urban,54.32149,NaN,NaN,NaN,NaN,5155.788,Asia
14,2004,Afghanistan,Urban,56.73851,NaN,NaN,NaN,NaN,5426.872,Asia

In [443]:
df5 = df4.merge(urban[['Country','Year','Population']],
                  how='left',
                  on=['Country','Year'],
                  indicator=True)
df5['_merge'].value_counts()

both          11058
right_only        0
left_only         0
Name: _merge, dtype: int64

In [444]:
df5.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population_x,REGION (DISPLAY),Population_y,_merge
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia,4436.282,both
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia,4436.282,both
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia,4436.282,both
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia,4648.139,both
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia,4648.139,both

In [445]:
df5.drop(columns='_merge',inplace=True)

In [446]:
df5.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population_x,REGION (DISPLAY),Population_y
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia,4436.282
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia,4436.282
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia,4436.282
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia,4648.139
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia,4648.139

In [447]:
df5.rename(columns={"Population_x": "Population","Population_y": "Urban population"},inplace=True)

In [448]:
df5.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY),Urban population
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia,4436.282
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia,4436.282
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia,4436.282
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia,4648.139
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia,4648.139

In [449]:
df5.loc[df5['Granularity'] == 'Total', 'Urban population rate'] = \
(df5['Urban population']/df5['Population'])*100

In [450]:
df5.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY),Urban population,Urban population rate
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia,4436.282,NaN
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia,4436.282,21.348855
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia,4436.282,NaN
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia,4648.139,NaN
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia,4648.139,21.512202

# <a name="C14.5"> Ajout des densités de Population </a>

## <a name="C14.51"> Ajout des densités de Population par Pays</a>

In [451]:
pop_density_country = pd.read_excel('population density Country calculated from World Bank.xlsx', index_col=0)
pop_density_country.head()

          Country Granularity  Population density
Year
2000  Afghanistan       Total           31.829117
2001  Afghanistan       Total           33.095904
2002  Afghanistan       Total           34.618102
2003  Afghanistan       Total           36.272510
2004  Afghanistan       Total           37.874413

In [452]:
df6 = df5.merge(pop_density_country,
                how='left',
                on=['Country','Year','Granularity'],
                indicator=True)

In [453]:
df6['_merge'].value_counts()

left_only     7421
both          3637
right_only       0
Name: _merge, dtype: int64

Les granularités Urban et Rural n'ont pas pu être jointées.

In [454]:
Urban = df6[df6['Granularity'] == 'Urban']
Rural = df6[df6['Granularity'] == 'Rural']
len(Urban)+len(Rural)

7372

Sur les 7 421 'left_only', 7 372 lignes justifiées par une granularité Rural ou Urban.

Combien de 'left_only' reste-t-il à justifier ?

In [455]:
7421-7372

49

In [456]:
len(df6[(df6['Granularity'] == 'Total') & (df6['_merge'] == 'left_only')])

49

La sélection comprend bien les 49 lignes restant à justifier.

In [457]:
df6[(df6['Granularity'] == 'Total') & (df6['_merge'] == 'left_only')]

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY),Urban population,Urban population rate,Population density,_merge
2224,2000,Cook Islands,Total,99.89700,NaN,NaN,NaN,NaN,17.930,Oceania,11.814,65.889571,NaN,left_only
2227,2001,Cook Islands,Total,99.89565,NaN,NaN,NaN,NaN,18.025,Oceania,12.258,68.005548,NaN,left_only
2230,2002,Cook Islands,Total,99.89432,NaN,NaN,NaN,NaN,18.278,Oceania,12.750,69.755991,NaN,left_only
2233,2003,Cook Islands,Total,99.89298,NaN,NaN,NaN,NaN,18.608,Oceania,13.239,71.146819,NaN,left_only
2236,2004,Cook Islands,Total,99.89164,NaN,NaN,NaN,NaN,18.904,Oceania,13.684,72.386796,NaN,left_only
2239,2005,Cook Islands,Total,99.89030,NaN,NaN,NaN,NaN,19.074,Oceania,13.999,73.393101,NaN,left_only
2242,2006,Cook Islands,Total,99.88897,NaN,NaN,NaN,NaN,19.092,Oceania,14.170,74.219568,NaN,left_only
2245,2007,Cook Islands,Total,99.88763,NaN,NaN,NaN,NaN,19.001,Oceania,14.140,74.417136,NaN,left_only
2248,2008,Cook Islands,Total,99.88629,NaN,NaN,NaN,NaN,18.818,Oceania,13.974,74.258688,NaN,left_only
2251,2009,Cook Islands,Total,99.88495,NaN,NaN,NaN,1.14,18.602,Oceania,13.773,74.040426,NaN,left_only
2254,2010,Cook Islands,Total,99.88361,NaN,NaN,NaN,1.32,18.391,Oceania,13.585,73.867653,NaN,left_only
2257,2011,Cook Islands,Total,99.88228,NaN,NaN,NaN,NaN,18.195,Oceania,13.421,73.762023,NaN,left_only
2260,2012,Cook Islands,Total,99.88094,NaN,NaN,NaN,NaN,18.011,Oceania,13.272,73.688302,NaN,left_only
2263,2013,Cook Islands,Total,99.87960,NaN,NaN,NaN,NaN,17.833,Oceania,13.142,73.694835,NaN,left_only
2266,2014,Cook Islands,Total,99.87960,NaN,NaN,NaN,NaN,17.691,Oceania,13.048,73.755017,NaN,left_only
2269,2015,Cook Islands,Total,99.87960,NaN,NaN,NaN,NaN,17.586,Oceania,12.983,73.825770,NaN,left_only
2272,2016,Cook Islands,Total,99.87960,NaN,NaN,NaN,NaN,17.524,Oceania,12.968,74.001370,NaN,left_only
2275,2017,Cook Islands,Total,99.87960,NaN,NaN,NaN,NaN,17.507,Oceania,13.006,74.290284,NaN,left_only
2277,2018,Cook Islands,Total,NaN,NaN,NaN,NaN,NaN,17.518,Oceania,13.067,74.591848,NaN,left_only
7183,2000,Niue,Total,99.22893,98.23664,NaN,NaN,NaN,1.899,Oceania,0.628,33.070037,NaN,left_only
7186,2001,Niue,Total,99.22893,98.23664,NaN,NaN,NaN,1.854,Oceania,0.620,33.441208,NaN,left_only
7189,2002,Niue,Total,99.22893,98.23664,NaN,NaN,NaN,1.791,Oceania,0.606,33.835846,NaN,left_only
7192,2003,Niue,Total,99.22893,98.23664,NaN,NaN,NaN,1.755,Oceania,0.602,34.301994,NaN,left_only
7195,2004,Niue,Total,99.22893,98.23664,NaN,NaN,NaN,1.715,Oceania,0.596,34.752187,NaN,left_only
7198,2005,Niue,Total,99.11446,98.12332,NaN,NaN,NaN,1.683,Oceania,0.593,35.234700,NaN,left_only
7201,2006,Niue,Total,99.00000,98.01000,NaN,NaN,NaN,1.661,Oceania,0.593,35.701385,NaN,left_only
7204,2007,Niue,Total,98.88554,97.89668,NaN,NaN,NaN,1.643,Oceania,0.600,36.518564,NaN,left_only
7207,2008,Niue,Total,98.77107,97.78336,NaN,NaN,NaN,1.635,Oceania,0.609,37.247706,NaN,left_only
7210,2009,Niue,Total,98.65660,97.67004,NaN,NaN,1.14,1.628,Oceania,0.620,38.083538,NaN,left_only
7213,2010,Niue,Total,98.54214,97.55672,NaN,NaN,1.32,1.618,Oceania,0.630,38.936959,NaN,left_only
7216,2011,Niue,Total,98.42767,97.44340,NaN,NaN,NaN,1.620,Oceania,0.643,39.691358,NaN,left_only
7219,2012,Niue,Total,98.31321,97.33008,NaN,NaN,NaN,1.610,Oceania,0.653,40.559006,NaN,left_only
7222,2013,Niue,Total,98.19875,97.21675,NaN,NaN,NaN,1.612,Oceania,0.666,41.315136,NaN,left_only
7225,2014,Niue,Total,98.19875,97.21675,NaN,NaN,NaN,1.609,Oceania,0.676,42.013673,NaN,left_only
7228,2015,Niue,Total,98.19875,97.21675,NaN,NaN,NaN,1.619,Oceania,0.693,42.804200,NaN,left_only
7231,2016,Niue,Total,98.19875,97.21675,NaN,NaN,NaN,1.614,Oceania,0.703,43.556382,NaN,left_only
7234,2017,Niue,Total,98.19875,97.21675,NaN,NaN,NaN,1.609,Oceania,0.713,44.313238,NaN,left_only
7236,2018,Niue,Total,NaN,NaN,NaN,NaN,NaN,1.620,Oceania,0.727,44.876543,NaN,left_only
9235,2000,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9238,2001,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9241,2002,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9244,2003,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9247,2004,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9250,2005,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9253,2006,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9256,2007,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9259,2008,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9262,2009,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only
9265,2010,South Sudan,Total,NaN,NaN,NaN,NaN,NaN,NaN,Africa,NaN,NaN,NaN,left_only

Pas de données sur Cook Islands et Inue. Données parcellaires sur Soudan du Sud.

Fusion validée.

In [458]:
df6.drop(columns='_merge', inplace=True)

In [459]:
df6 = df6.rename(columns={'Population density':'Population density Country'})

In [460]:
df6['REGION (DISPLAY)'].value_counts()

Europe      3021
Africa      3021
Asia        2109
Americas    1995
Oceania      912
Name: REGION (DISPLAY), dtype: int64

## <a name="C14.52"> Ajout des densités de Population par Région</a>

Données provenant de https://www.populationdata.net/monde/

In [461]:
# create a list of our conditions
conditions = [
    (df6['REGION (DISPLAY)'] == 'Asia'),
    (df6['REGION (DISPLAY)'] == 'Africa'),
    (df6['REGION (DISPLAY)'] == 'Americas'),
    (df6['REGION (DISPLAY)'] == 'Oceania'),
    (df6['REGION (DISPLAY)'] == 'Europe'),
    ]

# create a list of the values we want to assign for each condition
values = [142.7, 43.25, 24.29, 5.06, 32.32]

# create a new column and use np.select to assign values to it using our lists as arguments
df6['population density region'] = np.select(conditions, values)

# display updated DataFrame
df6['population density region'].value_counts()

43.25     3021
32.32     3021
142.70    2109
24.29     1995
5.06       912
Name: population density region, dtype: int64

In [462]:
df6.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY),Urban population,Urban population rate,Population density Country,population density region
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia,4436.282,NaN,NaN,142.7
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia,4436.282,21.348855,31.829117,142.7
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia,4436.282,NaN,NaN,142.7
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia,4648.139,NaN,NaN,142.7
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia,4648.139,21.512202,33.095904,142.7

In [463]:
df7 = df6

## <a name="C14.53"> Ajout de la densité de Population au niveau Monde</a>

In [464]:
df7['population density world'] = 50.2

In [465]:
df7.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY),Urban population,Urban population rate,Population density Country,population density region,population density world
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia,4436.282,NaN,NaN,142.7,50.2
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia,4436.282,21.348855,31.829117,142.7,50.2
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia,4436.282,NaN,NaN,142.7,50.2
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia,4648.139,NaN,NaN,142.7,50.2
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia,4648.139,21.512202,33.095904,142.7,50.2

# <a name="C15"> Export du .csv </a>

In [466]:
df7.to_csv('df.csv', index=False)

In [467]:
df7[df7['Country'] == 'China']

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY),Urban population,Urban population rate,Population density Country,population density region,population density world
1995,2000,China,Rural,70.40273,NaN,NaN,NaN,NaN,829403.316,Asia,482727.522,NaN,NaN,142.7,50.2
1996,2000,China,Total,80.39258,NaN,NaN,NaN,-0.21,1319551.401,Asia,482727.522,36.582699,133.971904,142.7,50.2
1997,2000,China,Urban,98.24744,93.28438,NaN,NaN,NaN,482727.522,Asia,482727.522,NaN,NaN,142.7,50.2
1998,2001,China,Rural,70.40273,NaN,NaN,NaN,NaN,818630.475,Asia,501452.843,NaN,NaN,142.7,50.2
1999,2001,China,Total,80.73117,NaN,NaN,NaN,NaN,1328341.175,Asia,501452.843,37.750305,134.948590,142.7,50.2
2000,2001,China,Urban,98.24744,93.28438,NaN,NaN,NaN,501452.843,Asia,501452.843,NaN,NaN,142.7,50.2
2001,2002,China,Rural,71.40005,NaN,NaN,NaN,NaN,806104.331,Asia,521893.970,NaN,NaN,142.7,50.2
2002,2002,China,Total,81.70317,NaN,NaN,NaN,-0.33,1336765.152,Asia,521893.970,39.041560,135.855780,142.7,50.2
2003,2002,China,Urban,98.21362,93.22449,NaN,NaN,NaN,521893.970,Asia,521893.970,NaN,NaN,142.7,50.2
2004,2003,China,Rural,72.39563,NaN,NaN,NaN,NaN,793136.597,Asia,542756.370,NaN,NaN,142.7,50.2
2005,2003,China,Total,82.65153,NaN,NaN,NaN,-0.56,1344908.155,Asia,542756.370,40.356389,136.704621,142.7,50.2
2006,2003,China,Urban,98.17977,93.16460,NaN,NaN,NaN,542756.370,Asia,542756.370,NaN,NaN,142.7,50.2
2007,2004,China,Rural,73.38948,NaN,NaN,NaN,NaN,779706.681,Asia,564037.221,NaN,NaN,142.7,50.2
2008,2004,China,Total,83.57525,NaN,NaN,NaN,-0.39,1352871.028,Asia,564037.221,41.691869,137.518959,142.7,50.2
2009,2004,China,Urban,98.14588,93.10471,NaN,NaN,NaN,564037.221,Asia,564037.221,NaN,NaN,142.7,50.2
2010,2005,China,Rural,74.38159,NaN,NaN,NaN,NaN,765903.084,Asia,585633.612,NaN,NaN,142.7,50.2
2011,2005,China,Total,84.47221,NaN,NaN,NaN,-0.50,1360734.525,Asia,585633.612,43.038050,138.330135,142.7,50.2
2012,2005,China,Urban,98.11195,93.04483,NaN,NaN,NaN,585633.612,Asia,585633.612,NaN,NaN,142.7,50.2
2013,2006,China,Rural,75.37196,NaN,NaN,NaN,NaN,752299.538,Asia,606988.730,NaN,NaN,142.7,50.2
2014,2006,China,Total,85.33264,NaN,NaN,NaN,-0.54,1368528.374,Asia,606988.730,44.353390,139.104693,142.7,50.2
2015,2006,China,Urban,98.07798,92.98494,NaN,NaN,NaN,606988.730,Asia,606988.730,NaN,NaN,142.7,50.2
2016,2007,China,Rural,76.36061,NaN,NaN,NaN,NaN,738685.151,Asia,628350.588,NaN,NaN,142.7,50.2
2017,2007,China,Total,86.16128,NaN,NaN,NaN,-0.50,1376265.629,Asia,628350.588,45.656200,139.833098,142.7,50.2
2018,2007,China,Urban,98.04398,92.92506,NaN,NaN,NaN,628350.588,Asia,628350.588,NaN,NaN,142.7,50.2
2019,2008,China,Rural,77.34751,NaN,NaN,NaN,NaN,724760.394,Asia,650038.030,NaN,NaN,142.7,50.2
2020,2008,China,Total,86.96360,NaN,NaN,NaN,-0.49,1383985.631,Asia,650038.030,46.968553,140.551423,142.7,50.2
2021,2008,China,Urban,98.00993,92.86517,NaN,NaN,NaN,650038.030,Asia,650038.030,NaN,NaN,142.7,50.2
2022,2009,China,Rural,78.33269,NaN,NaN,NaN,NaN,710632.634,Asia,671961.097,NaN,NaN,142.7,50.2
2023,2009,China,Total,87.73784,NaN,NaN,NaN,-0.45,1391725.007,Asia,671961.097,48.282606,141.252234,142.7,50.2
2024,2009,China,Urban,97.97585,92.80527,NaN,NaN,NaN,671961.097,Asia,671961.097,NaN,NaN,142.7,50.2
2025,2010,China,Rural,79.31612,NaN,NaN,NaN,NaN,696249.563,Asia,694170.135,NaN,NaN,142.7,50.2
2026,2010,China,Total,88.48477,NaN,NaN,NaN,-0.66,1399502.716,Asia,694170.135,49.601200,141.936072,142.7,50.2
2027,2010,China,Urban,97.94173,92.74539,NaN,NaN,NaN,694170.135,Asia,694170.135,NaN,NaN,142.7,50.2
2028,2011,China,Rural,80.29783,NaN,NaN,NaN,NaN,682518.202,Asia,715762.326,NaN,NaN,142.7,50.2
2029,2011,China,Total,89.19269,NaN,NaN,NaN,-0.60,1407323.826,Asia,715762.326,50.859817,142.713813,142.7,50.2
2030,2011,China,Urban,97.90759,92.68550,NaN,NaN,NaN,715762.326,Asia,715762.326,NaN,NaN,142.7,50.2
2031,2012,China,Rural,81.27779,NaN,NaN,NaN,NaN,669007.424,Asia,737124.022,NaN,NaN,142.7,50.2
2032,2012,China,Total,89.86850,NaN,NaN,NaN,-0.54,1415164.184,Asia,737124.022,52.087527,143.685196,142.7,50.2
2033,2012,China,Urban,97.87339,92.62562,NaN,NaN,NaN,737124.022,Asia,737124.022,NaN,NaN,142.7,50.2
2034,2013,China,Rural,82.25603,NaN,NaN,NaN,NaN,655323.811,Asia,758533.671,NaN,NaN,142.7,50.2
2035,2013,China,Total,90.51711,NaN,NaN,NaN,-0.54,1422971.062,Asia,758533.671,53.306331,144.645433,142.7,50.2
2036,2013,China,Urban,97.83916,92.56573,NaN,NaN,NaN,758533.671,Asia,758533.671,NaN,NaN,142.7,50.2
2037,2014,China,Rural,83.23253,NaN,NaN,NaN,NaN,641352.868,Asia,779954.516,NaN,NaN,142.7,50.2
2038,2014,China,Total,91.13934,NaN,NaN,NaN,-0.52,1430670.819,Asia,779954.516,54.516700,145.560051,142.7,50.2
2039,2014,China,Urban,97.80489,92.50584,NaN,NaN,NaN,779954.516,Asia,779954.516,NaN,NaN,142.7,50.2
2040,2015,China,Rural,84.20729,NaN,NaN,NaN,NaN,627097.042,Asia,801263.909,NaN,NaN,142.7,50.2
2041,2015,China,Total,91.73492,NaN,NaN,NaN,-0.55,1438193.428,Asia,801263.909,55.713223,146.408883,142.7,50.2
2042,2015,China,Urban,97.77058,92.44595,NaN,NaN,NaN,801263.909,Asia,801263.909,NaN,NaN,142.7,50.2
2043,2016,China,Rural,85.18032,NaN,NaN,NaN,NaN,612549.421,Asia,822422.660,NaN,NaN,142.7,50.2
2044,2016,China,Total,92.30405,NaN,0.57632,8134.223,-0.50,1445523.929,Asia,822422.660,56.894434,147.250303,142.7,50.2
2045,2016,China,Urban,97.73624,92.38606,NaN,NaN,NaN,822422.660,Asia,822422.660,NaN,NaN,142.7,50.2
2046,2017,China,Rural,86.15161,NaN,NaN,NaN,NaN,597816.520,Asia,843314.783,NaN,NaN,142.7,50.2
2047,2017,China,Total,92.84614,NaN,NaN,NaN,-0.23,1452625.244,Asia,843314.783,58.054532,148.144225,142.7,50.2
2048,2017,China,Urban,97.70186,92.32618,NaN,NaN,NaN,843314.783,Asia,843314.783,NaN,NaN,142.7,50.2
2049,2018,China,Total,NaN,NaN,NaN,NaN,-0.26,1459377.612,Asia,863601.691,59.176027,148.838644,142.7,50.2
2050,2018,China,Rural,NaN,NaN,NaN,NaN,NaN,583199.631,Asia,863601.691,NaN,NaN,142.7,50.2
2051,2018,China,Urban,NaN,NaN,NaN,NaN,NaN,863601.691,Asia,863601.691,NaN,NaN,142.7,50.2

In [468]:
df7.head(50)

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%),Mortality rate attributed to exposure to unsafe WASH services,WASH deaths,Political_Stability,Population,REGION (DISPLAY),Urban population,Urban population rate,Population density Country,population density region,population density world
0,2000,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,15657.474,Asia,4436.282,NaN,NaN,142.7,50.2
1,2000,Afghanistan,Total,27.77190,NaN,NaN,NaN,-2.44,20779.953,Asia,4436.282,21.348855,31.829117,142.7,50.2
2,2000,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4436.282,Asia,4436.282,NaN,NaN,142.7,50.2
3,2001,Afghanistan,Rural,21.61913,NaN,NaN,NaN,NaN,16318.324,Asia,4648.139,NaN,NaN,142.7,50.2
4,2001,Afghanistan,Total,27.79726,NaN,NaN,NaN,NaN,21606.988,Asia,4648.139,21.512202,33.095904,142.7,50.2
5,2001,Afghanistan,Urban,49.48745,NaN,NaN,NaN,NaN,4648.139,Asia,4648.139,NaN,NaN,142.7,50.2
6,2002,Afghanistan,Rural,23.59988,NaN,NaN,NaN,NaN,17086.910,Asia,4893.013,NaN,NaN,142.7,50.2
7,2002,Afghanistan,Total,29.90076,NaN,NaN,NaN,-2.04,22600.770,Asia,4893.013,21.649762,34.618102,142.7,50.2
8,2002,Afghanistan,Urban,51.90447,NaN,NaN,NaN,NaN,4893.013,Asia,4893.013,NaN,NaN,142.7,50.2
9,2003,Afghanistan,Rural,25.58063,NaN,NaN,NaN,NaN,17909.063,Asia,5155.788,NaN,NaN,142.7,50.2
10,2003,Afghanistan,Total,32.00507,NaN,NaN,NaN,-2.20,23680.871,Asia,5155.788,21.771953,36.272510,142.7,50.2
11,2003,Afghanistan,Urban,54.32149,NaN,NaN,NaN,NaN,5155.788,Asia,5155.788,NaN,NaN,142.7,50.2
12,2004,Afghanistan,Rural,27.56138,NaN,NaN,NaN,NaN,18692.107,Asia,5426.872,NaN,NaN,142.7,50.2
13,2004,Afghanistan,Total,34.12623,NaN,NaN,NaN,-2.30,24726.684,Asia,5426.872,21.947431,37.874413,142.7,50.2
14,2004,Afghanistan,Urban,56.73851,NaN,NaN,NaN,NaN,5426.872,Asia,5426.872,NaN,NaN,142.7,50.2
15,2005,Afghanistan,Rural,29.54213,NaN,NaN,NaN,NaN,19378.962,Asia,5691.836,NaN,NaN,142.7,50.2
16,2005,Afghanistan,Total,36.26526,NaN,NaN,NaN,-2.07,25654.277,Asia,5691.836,22.186694,39.295215,142.7,50.2
17,2005,Afghanistan,Urban,59.15553,NaN,NaN,NaN,NaN,5691.836,Asia,5691.836,NaN,NaN,142.7,50.2
18,2006,Afghanistan,Rural,31.52288,NaN,NaN,NaN,NaN,19961.972,Asia,5931.478,NaN,NaN,142.7,50.2
19,2006,Afghanistan,Total,38.40636,NaN,NaN,NaN,-2.22,26433.049,Asia,5931.478,22.439629,40.488095,142.7,50.2
20,2006,Afghanistan,Urban,61.57254,NaN,NaN,NaN,NaN,5931.478,Asia,5931.478,NaN,NaN,142.7,50.2
21,2007,Afghanistan,Rural,33.73274,NaN,NaN,NaN,NaN,20464.923,Asia,6151.869,NaN,NaN,142.7,50.2
22,2007,Afghanistan,Total,40.84418,NaN,NaN,NaN,-2.41,27100.536,Asia,6151.869,22.700175,41.510495,142.7,50.2
23,2007,Afghanistan,Urban,64.50089,NaN,NaN,NaN,NaN,6151.869,Asia,6151.869,NaN,NaN,142.7,50.2
24,2008,Afghanistan,Rural,35.96969,NaN,NaN,NaN,NaN,20929.119,Asia,6364.912,NaN,NaN,142.7,50.2
25,2008,Afghanistan,Total,43.31506,NaN,NaN,NaN,-2.69,27722.276,Asia,6364.912,22.959558,42.462827,142.7,50.2
26,2008,Afghanistan,Urban,67.46785,NaN,NaN,NaN,NaN,6364.912,Asia,6364.912,NaN,NaN,142.7,50.2
27,2009,Afghanistan,Rural,38.23373,NaN,NaN,NaN,NaN,21415.593,Asia,6588.738,NaN,NaN,142.7,50.2
28,2009,Afghanistan,Total,45.81909,NaN,NaN,NaN,-2.71,28394.813,Asia,6588.738,23.204020,43.492948,142.7,50.2
29,2009,Afghanistan,Urban,70.47343,NaN,NaN,NaN,NaN,6588.738,Asia,6588.738,NaN,NaN,142.7,50.2
30,2010,Afghanistan,Rural,40.52486,NaN,NaN,NaN,NaN,21966.187,Asia,6836.980,NaN,NaN,142.7,50.2
31,2010,Afghanistan,Total,48.35636,NaN,NaN,NaN,-2.58,29185.507,Asia,6836.980,23.425942,44.704088,142.7,50.2
32,2010,Afghanistan,Urban,73.51765,NaN,NaN,NaN,NaN,6836.980,Asia,6836.980,NaN,NaN,142.7,50.2
33,2011,Afghanistan,Rural,42.84308,NaN,NaN,NaN,NaN,22594.126,Asia,7114.473,NaN,NaN,142.7,50.2
34,2011,Afghanistan,Total,50.92731,NaN,NaN,NaN,-2.50,30117.413,Asia,7114.473,23.622457,46.131500,142.7,50.2
35,2011,Afghanistan,Urban,76.60050,NaN,NaN,NaN,NaN,7114.473,Asia,7114.473,NaN,NaN,142.7,50.2
36,2012,Afghanistan,Rural,45.18839,NaN,NaN,NaN,NaN,23280.663,Asia,7416.295,NaN,NaN,142.7,50.2
37,2012,Afghanistan,Total,53.53170,NaN,NaN,NaN,-2.42,31161.376,Asia,7416.295,23.799639,47.730567,142.7,50.2
38,2012,Afghanistan,Urban,79.72198,NaN,NaN,NaN,NaN,7416.295,Asia,7416.295,NaN,NaN,142.7,50.2
39,2013,Afghanistan,Rural,47.56079,NaN,NaN,NaN,NaN,23997.856,Asia,7733.832,NaN,NaN,142.7,50.2
40,2013,Afghanistan,Total,56.16964,NaN,NaN,NaN,-2.52,32269.589,Asia,7733.832,23.966317,49.428043,142.7,50.2
41,2013,Afghanistan,Urban,82.88207,NaN,NaN,NaN,NaN,7733.832,Asia,7733.832,NaN,NaN,142.7,50.2
42,2014,Afghanistan,Rural,49.96028,NaN,NaN,NaN,NaN,24703.798,Asia,8054.222,NaN,NaN,142.7,50.2
43,2014,Afghanistan,Total,58.84123,NaN,NaN,NaN,-2.41,33370.794,Asia,8054.222,24.135542,51.114793,142.7,50.2
44,2014,Afghanistan,Urban,86.08080,NaN,NaN,NaN,NaN,8054.222,Asia,8054.222,NaN,NaN,142.7,50.2
45,2015,Afghanistan,Rural,52.38686,NaN,NaN,NaN,NaN,25368.923,Asia,8367.571,NaN,NaN,142.7,50.2
46,2015,Afghanistan,Total,61.54693,NaN,NaN,NaN,-2.57,34413.603,Asia,8367.571,24.314719,52.712072,142.7,50.2
47,2015,Afghanistan,Urban,89.31815,NaN,NaN,NaN,NaN,8367.571,Asia,8367.571,NaN,NaN,142.7,50.2
48,2016,Afghanistan,Rural,54.84053,NaN,NaN,NaN,NaN,25985.093,Asia,8670.939,NaN,NaN,142.7,50.2
49,2016,Afghanistan,Total,64.28648,NaN,13.92067,4824.353,-2.67,35383.032,Asia,8670.939,24.505924,54.196961,142.7,50.2